.containerProyect{
    position: relative;
    width: 100%;
    min-height: 100vh;
    
    display: grid;
    grid-template-rows: 1fr 9fr;

    padding-top: 500px;
}

.title{
    padding: 20px 40px;
    background-color:#121212;
    box-shadow: 12px 12px 4px 1px #070809;
}
.title h2{
padding-top: 8px;
    font-size: 50px;
    color: rgb(57, 255, 20);
}

.collection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-row-gap: 40px;

    padding: 50px;
}
@media screen and ( max-width : 745px){
    .collection{
     
    }
}