.container{
	position: relative;
    width: 100%;
	
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;

    padding: 20px 10px;
}

.title{
	padding: 10px 40px;
	width: 100%;
}

.title h1{
	color: #ffffff;
}

.detailGroup{
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.groupTitle{
    padding: 10px 20px;
    background-color: rgb(57, 255, 20);
    box-shadow: 6px 6px 4px 1px #08090C;
    width: 100%;
}
.groupTitle h3{
    color: #030308;
}

.description{
	padding: 20px;
}

.description p{
	font-size: 16px;
}

.paragraph{
	margin: 10px 0;
}

.techStack{
	display: grid;
	grid-template-columns: repeat(8, 1fr);
    gap: 10px;
}

.projectSauce{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.suaceLink{
	width: 40%;
	color: rgb(57, 255, 20);
	font-size: 1.5rem;
	font-weight: 600;
	padding: 10px 20px;
	border-radius: 8px;
	border: 2px solid rgb(57, 255, 20);
	background: transparent;
	transition: all ease 0.5s;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.suaceLink h4{
	color: rgb(57, 255, 20);
	transition: all ease 0.5s;
}
.suaceLink:hover{
	cursor: pointer;
	background: rgb(57, 255, 20);
	color: #030308;
}
.suaceLink:hover h4{
	color: #030308;
}

.suaceLink a{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
@media screen and ( max-width : 432px){
   
	
}